<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs') %>
    <h1>Welcome to Todo Manager</h1>

    <table>
        <% for(var i=0;i < allTodo.length;i++) { %>
        <tr>
            <td>
                <%= allTodo[i].title %>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>